

/*
html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
*/


html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  width:100%
}

/*
background: linear-gradient(#b3ffab, #67fffc);
*/
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;  
  font-size: 15px;
  background: linear-gradient(#116466, #272727); 
}

#header{
  height: 32px;
  background: linear-gradient(#116466, #272727);
  color: #bbbbbb;
}

#headerContent {
  text-align: center;
  font-size: 20px;
  color: #EAE7DC; 
}

#headerContent a{
  float: right;
  color: #EAE7DC;
  text-align: center;
  padding: 4px 4px;
  text-decoration: none;
  font-size: 12px;
  height: 50%;
  margin-right: 1rem;
}

#headerContent a:hover{  
  background-color: #116466; /*#f7e9e8; */
    
}


/*
#headerContent a.active {
  background-color: #04AA6D;
  color: white;
}
*/

#page{
  display: flex; 
  flex-direction:row-reverse;
  height: calc(100vh - 30px);
}


#sideBar{
  width:60%;   
  background-color:#747474;
  background: linear-gradient( #272727, #116466);
  font-size: 15px;
}




table{    
  width:100%;
  color: #116466;
  column-span: 0;
  border: 1px solid;  
  border-collapse: collapse;
/* работа с прокрутокой
  overscroll-behavior-y: contain;
  overflow-y: auto;
  */
}

tbody tr:hover{
  background: #f7e9e8;
}

tr,td {
  border: 1px solid #888;
	text-align: center;
	vertical-align: middle;	
  width:calc(100/3);
}

.row{
  text-align: center;  
  text-transform: uppercase; 
  font-weight: bold;
  background: linear-gradient(  #FFCB9A, #D1E8E2);
}
.row1{  
  background: #E98074;/*#F78888;*/ 
}
.row2{
  background: #A8D0E6;  
}
.row3{  
  background: rgb(235, 235, 82);
}
.row4{ 
  background: #bdbbb7; /*#EAE7DC;*/
}


#map{
  display: flex;
  justify-content:flex-start;
  color: coral;
  width:70%;
  height:40%;
}

#videoContent{
  background: linear-gradient( #272727, #116466);
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  width: 100%;
  height:100%;
  padding-top: 5px;
  object-fit: cover;
  background-color: grey;
}
video{
  width: 230px;
  height:150px;
  box-shadow: 0 4px 8px 0 #D9B08C, 0 6px 20px 0 #2C3531;
  background-color: #272727;
  margin-bottom: 15px;
  padding: 10px 20px;
}


.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "✖";
}

.img-container{
width:50%;
border: 3px solid #3AAA35;
border-radius: 6px;
overflow: hidden; 
text-align:center;
margin-left: auto;
margin-right: auto;
padding:20px;
}
img{
width:70%;
}

footer{
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/*
@media (min-width:650px){
  #map{
    display: flex;
  }
}
*/

